<% include partial/header %>

<form action="/login" method="POST">
    <input type="username" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="input">
</form>
<% include partial/footer %>