<% include partial/header %>
<form action="/register" method="POST">
    <input type="username" name="username" placeholder="username">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <button>submit!!s</button>
</form>
<% include partial/footer %>