<% include ../partial/header %>
   
   <div class="container">
       <header class="jumbotron">
           <h1>Your Campground</h1>
           <a href="/campgrounds/new" class="btn btn-primary btn-large">Add New !!</a>
           <form action="/campgrounds" method="GET" class="form-align">
              <div class="form-group">
                 <input type="text" name="fuzzy" placeholder="campground search" class="form-control">
                 <input type="submit" value="search" class="btn btn-default">
              </div>
           </form>
       </header>
   </div>
   
   <div class="row">
       <% camp.forEach(function(campground){%>
          <div class="col-md-3 col-sm-6">
              <div class="thumbnail">
                  <img src="<%= campground.image %>" height="100" width="200">
              </div>
              <div class="caption">
                  <h3><%= campground.name %></h3>
              </div>
              <div>
                  <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info!</a>
              </div>
          </div>
           
      <% })%>
   </div>

   <% include ../partial/footer %>
   